
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Hướng dẫn</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
            <ol class="breadcrumb">
                <li class="active">Hướng dẫn sử dụng</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!--row-->
    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <h3 class="box-title"><strong>Giới thiệu</strong></h3>
                <p>Nội dung giới thiệu.</p>
                <hr>
                <h3 class="box-title"><strong>Hướng dẫn sử dụng cho admin</strong></h3> Thứ 1: Nội dung .
                <br />
                <br /> Thứ 2: Nội dung .
            </div>
        </div>
    </div>
    <div class="white-box">
        <h3 class="box-title" id="less"><strong>Thanh trượt trái</strong></h3>
        <table class="table table-bordered m-0">
            <thead>
                <tr>
                    <th style="width: 20%;">Thành phần</th>
                    <th>Mô tả</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><code>Trang chủ</code> </td>
                    <td> Quay trở về trang chủ của admin </td>
                </tr>
                <tr>
                    <td><code>Quản lý</code></td>
                    <td> Quản lý các nội dung liên quan đến khoa </td>
                </tr>
                <tr>
                    <td><code>Thống kê</code> </td>
                    <td> Thống kê các nội dung liên quan đến khoa. </td>
                </tr>
                <tr>
                    <td><code>Mail</code> </td>
                    <td> Quản lý, chuyển nhận mail giữa các thành viên trong khoa. </td>
                </tr>
                <tr>
                    <td><code>Google map</code> </td>
                    <td> Bản đồ địa điểm trường đại học Sài Gòn. </td>
                </tr>
                <tr>
                    <td><code>Vector map</code> </td>
                    <td> Bản đồ theo dạng vector. </td>
                </tr>
                <tr>
                    <td><code>Đăng xuất</code> </td>
                    <td> Thoát khỏi trang admin và trở về trang đăng nhập. </td>
                </tr>
                <tr>
                    <td><code>Hướng dẫn</code> </td>
                    <td> Tài liệu hướng dẫn sử dụng trang admin. </td>
                </tr>
                <tr>
                    <td><code>Thư viện</code> </td>
                    <td> Thư viện lưu trữ hình ảnh của khoa. </td>
                </tr>
                <tr>
                    <td><code>Quy định</code> </td>
                    <td> Quy định khi sử dụng trang admin. </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><div class="white-box">
    <h3 class="box-title" id="support"><strong>Hỗ trợ</strong></h3>
    <p>Nếu có thêm bất kỳ thắc mắc gì, xin hãy liên hệ với tài khoản <strong>teamitsguk15@gmail.com</strong> để được biết thêm chi tiết, xin cảm ơn đã sử dụng trang web của chúng tôi.</p>
</div>


